<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.bkic.lymenglong.audiobookbkic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name=".Views.SplashScreen"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".Views.Account.Login.ViewLoginActivity"
        android:label="@string/hint_login"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.RUN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name=".Views.Main.MainActivity"
        android:label="@string/hint_home_screen"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.RUN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".Views.Account.Register.ViewRegisterActivity"
        android:label="@string/hint_register"
        android:screenOrientation="portrait">
    <intent-filter>
        <action android:name="android.intent.action.RUN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
    <activity
        android:name=".Views.History.ListHistory"
        android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity
        android:name=".Views.HandleLists.ListBookType.ListBookType"
        android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity
        android:name=".Views.HandleLists.ListCategory.ListCategory"
        android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity
        android:name=".Views.HandleLists.ListBook.ListBook"
        android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity
        android:name=".Views.Help.HelpActivity"
        android:label="@string/hint_help"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.RUN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".Views.Account.ShowUserInfo.UserInfoActivity"
        android:label="@string/hint_accountInfo"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.RUN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".Views.Player.PlayControl"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".Views.Reading.ViewReading"
        android:screenOrientation="portrait">
    </activity>
    <activity android:name=".Views.Favorite.ListFavorite" />

</application>
</manifest>
